<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> List of users</title>
</head>
<style>
    body {
        background: ghostwhite;
    }
</style>

<body>
<div style="background-color: black; color: white" class="container-fluid">
    <div class="row">
        <div class="col-md-11">
            <span style="font-weight: bold" th:text="${mainUser.getUsername()}"/>
            with roles:
            <span th:text="${mainUser.getRolesForWeb()}"/>
        </div>
        <div class="col-md-1">
            <button style="color: darkgrey; background: black" onclick="window.location.href='/logout';">Logout</button>
        </div>
    </div>
</div>
<p></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="background: white">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>

        <div class="col-md-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="container-fluid">
                        <h2>Admin panel</h2>
                    </div>
                    <div class="container-fluid">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                                <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                            </div>
                        </nav>
                    </div>

                    <div class="container-fluid">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="container-fluid">
                                    <h3>All users</h3>
                                </div>
                                <div class="row">
                                    <div class="container-fluid">
                                        <table class="table table-striped table-hover" style="background: white">
                                            <thead>
                                            <tr>
                                                <th style="color:black" scope="col">id</th>
                                                <th style="color:black" scope="col">Name</th>
                                                <th style="color:black" scope="col">Lastname</th>
                                                <th style="color:black" scope="col">Age</th>
                                                <th style="color:black" scope="col">Username</th>
                                                <th style="color:black" scope="col">Role</th>
                                                <th style="color:black" scope="col">Edit</th>
                                                <th style="color:black" scope="col">Delete</th>
                                            </tr>
                                            </thead>

                                            <tr th:each="user: ${userList}">
                                                <td style="color:black" th:text="${user.getId()}"/>
                                                <td style="color:black"  th:text="${user.getName()}"/>
                                                <td style="color:black"  th:text="${user.getLastname()}"/>
                                                <td style="color:black"  th:text="${user.getAge()}"/>
                                                <td style="color:black"  th:text="${user.getUsername()}"/>
                                                <td style="color:black"  th:text="${user.getRolesForWeb()}"/>
                                                <td>
                                                    <p><button type="button" th:formaction="${'/admin/update/'+ user.id}" class="btn btn-secondary" data-toggle="modal" data-target="#editModal"
                                                               th:data-target="${'#editModal'+ user.id}">Edit</button></p>
                                                    <!--<div class="modal fade" th:id="${'editModal'+ user.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
&lt;!&ndash;                                                    <div class="modal" tabindex="-1">&ndash;&gt;
                                                        <div class="modal-dialog">
                                                            <div class="modal-content" id="exampleModalLabel">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Modal title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Modal body text goes here.</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>-->


                                                    <div class="modal fade" th:id="${'editModal'+ user.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content" id="exampleModalLabel">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title"> Edit User</h5>
<!--                                                                    <button class="btn btn-danger" data-dismiss="modal" aria-label="close">X</button>-->
<!--                                                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>-->
                                                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

                                                                </div>
                                                                <!--<form>
                                                                    <div class="mb-3">
                                                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                                                    </div>
                                                                    <div class="mb-3 form-check">
                                                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                                </form>-->
<!--                                                                style="text-align: center;"-->
<!--                                                                class="modal-body"-->
                                                                <form method="POST" class="modal-body gap-3">
<!--                                                                    <p>input data</p>-->
<!--                                                                <div class="form-group">
                                                                        <label class="control-label">Username</label>
                                                                        <div>
                                                                            <input type="text" class="form-control input-lg" name="name" value="">
                                                                        </div>
                                                                    </div>-->
                                                                    <div class="d-grid gap-1 text-center fw-bold w-50 mx-auto">
                                                                        <div class="form-group">
                                                                            <label for="userId" class="control-label">id</label>
                                                                            <input type="text" class="form-control input-sm" readonly id="userId" th:placeholder="${user.getId()}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="nameEdit" class="control-label">name</label>
                                                                            <input type="text" class="form-control" name="name" th:value="${user.getName()}" pattern="^[a-zA-Z]+$" id="nameEdit" placeholder="name" required>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="lastnameEdit" class="control-label">lastname</label>
                                                                            <input type="text" class="form-control" name="lastname" th:value="${user.getLastname()}" pattern="^[a-zA-Z]+$" id="lastnameEdit" placeholder="lastname" required>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="ageEdit" class="control-label">age</label>
                                                                            <input type="number" class="form-control" name="age" th:value="${user.getAge()}" pattern="^[0-9]+$" id="ageEdit" placeholder="age" required>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="usernameEdit" class="control-label">username</label>
                                                                            <input type="text" class="form-control" name="username" th:value="${user.getUsername()}" pattern="^[a-zA-Z]+$" id="usernameEdit" placeholder="username" required>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="passwordEdit" class="control-label">password</label>
                                                                            <input type="text" class="form-control" name="password" pattern="^[a-zA-Z0-9_.$]+$" id="passwordEdit" placeholder="new password">
                                                                        </div>

                                                                        <div class="form-group" style="margin-bottom: 1rem;">
                                                                            <label for="role" class="control-label">role</label>
    <!--                                                                            style="width: 40%; display: inline-block;"-->
                                                                                <select class="form-select" size="2">
                                                                                    <option th:each="role: ${userRoles}" id="role" th:data-th-text="${role.role}" name="roles" th:value="${role.role}" required>
                                                                                </select>
    <!--                                                                        <label for="clean role">-->
    <!--                                                                            <input id="clean role" data-th-text="'without roles'" name="roles" type="radio" value="without roles" required>-->
    <!--                                                                        </label>-->
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="submit" th:formaction="${'/admin/update/'+ user.id}" class="btn btn-primary">Save</button>
<!--                                                                        <button class="btn-close btn btn-secondary" data-dismiss="modal" aria-label="close">Close</button>-->
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <form method="POST">
                                                        <p><button class="btn btn-danger" th:formaction="${'/admin/delete/'+ user.id}">Delete</button></p>
                                                    </form>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="container-fluid">
                                </div>
                                <div class="container-fluid">
                                    <div class="container-fluid">
                                        <h3 style="font-weight: bold">Add new user</h3>
                                    </div>
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col text-center" style="background: white">
                                                <p></p>
                                                <form method="POST" action="/admin/save">
                                                    <p>Enter user:</p>
                                                    <p><label for="name"></label><input type="text" name="name" value="" pattern="^[a-zA-Z]+$" id="name" placeholder="Name" required></p>
                                                    <p><label for="lastname"></label><input type="text" name="lastname"
                                                                                            value="" pattern="^[a-zA-Z]+$" id="lastname"
                                                                                            placeholder="Lastname" required></p>
                                                    <p><label for="age"></label><input type="number" min="1" name="age" value="" pattern="^[0-9]+$" id="age" placeholder="Age" required></p>
                                                    <p><label for="username"></label><input type="text" name="username" value="" pattern="^[a-zA-Z]+$" id="username" placeholder="Username" required></p>
                                                    <p><label for="password"></label><input type="text" name="password" value="" pattern="^[a-zA-Z0-9]+$" id="password" placeholder="Password" required></p>
                                                    <label for="roles" th:each="role: ${userRoles}">
                                                        <input id="roles" th:data-th-text="${role.role}" name="roles" type="radio" th:value="${role.role}" required>
                                                    </label>
                                                    <p><input type="submit" value="Submit"></p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container-fluid">
                        <h2>User information-page</h2>
                    </div>
                    <div class="container-fluid">
                        <h4>About user</h4>
                        <table class="table table-striped table-hover" style="background: white">
                            <thead>
                            <tr>
                                <th style="color:black" scope ="col">id</th>
                                <th style="color:black" scope="col">Name</th>
                                <th style="color:black" scope="col">Lastname</th>
                                <th style="color:black" scope="col">Age</th>
                                <th style="color:black" scope="col">Username</th>
                                <th style="color:black" scope="col">Role</th>

                            </tr>
                            </thead>

                            <tr th:each="mainUser: ${mainUser}">
                                <td style="color:black" th:text="${mainUser.getId()}"/>
                                <td style="color:black"  th:text="${mainUser.getName()}"/>
                                <td style="color:black"  th:text="${mainUser.getLastname()}"/>
                                <td style="color:black"  th:text="${mainUser.getAge()}"/>
                                <td style="color:black"  th:text="${mainUser.getUsername()}"/>
                                <td style="color:black"  th:text="${mainUser.getRolesForWeb()}"/>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>-->
<!--            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>-->
<!--            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
        </body>
</html>




